body{
    margin: 0;
    padding: 0;
    font-family: lato;
    color: #000;
}

.jumbotron-2{
    font-weight: normal;
    margin-top: 50px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:800px;
    height: 350px;
    padding: 15px  30px 15px 15px;
    background-color: rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    color: #666666c2;
    display:flexbox;
    align-self: center;
}


.jumbotron{
  font-weight: normal;
  margin-top: 50px ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:800px;
  height:fit-content ;
  padding: 15px  30px 15px 15px;
  background-color: rgba(0, 0, 0, 0.082);
  border-radius: 5px;
  color: #666666c2;
  display:flexbox;
  align-self: center;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.4;
  background-color: whitesmoke;
  color: black;
  padding: 0.2rem;
}
.time-container {
  text-align:center;
  margin: 0px auto;
}
.timeDisplay {
  text-align: center;
  font-size: 1.8rem;
  border: 0.3rem solid black;
  margin: 0px auto;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  min-width: 11rem;
}

.hrow {
font-weight:bold;
color: #000;
}
.hrow td{
    color: #666666c2;
padding-top: 20px;
width: 140px;
}
